@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

$font-stack: 'Poppins';
$paragraph-text: 'Inter';
$dark_color: rgb(44, 44, 44);
$darker_color: #333;
$primary-color: #464646;
$linecolor: #b3b3b3;
$light_color: rgb(255, 255, 255);
$primary_happycolor: #f6da0c;
$secondary_happycolor: rgb(245, 0, 224);

@mixin maxsize($width, $height, $max) {
    width: $width;
    height: $height;
    max-width: $max;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin color($bkgd, $textcolor) {
    background-color: $bkgd;
    color: $textcolor;
}

@mixin textlayout($align, $font) {
    text-align: $align;
    font: $font;
}

@mixin textsize($size, $weight, $space) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $space;
}

@mixin align($align, $justify) {
    align-items: $align;
    justify-content: $justify;
}

@mixin boxspace($box, $padding) {
    box-sizing: $box;
    padding: $padding;
}

@mixin fixed($top, $left) {
    top: $top;
    left: $left;
}

@mixin ul($list-style, $align, $padding) {
    list-style-type: $list-style;
    text-align: $align;
    padding: $padding;
}

@mixin a($text-deco, $textcolor) {
    text-decoration: $text-deco;
    color: $textcolor;
}

@mixin marginwidth($width, $margin) {
    width: $width;
    margin: $margin;
}

@mixin space($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin centergap($display, $justify, $gap) {
    display: $display;
    justify-content: $justify;
    gap: $gap;
}

@mixin colorhover($transform, $color, $cursor) {
    transform: $transform;
    color: $color;
    cursor: $cursor;
}

@mixin hoverscale($transform, $cursor) {
    transform: $transform;
    cursor: $cursor;
}