@use 'base' as *;

body {
    @include text(left, 100% $font-stack);
    @include color($primary-color, $light_color);
    @include boxspace(border-box, 3em);
    margin-left: 110px;
    gap: 20em;

    h1 {text-align: center;}
    p {@include text(left, 100% $light_color);}

    h2 {
        font-size: 20px;
        text-align: center;
    }
}

header {
    @include size(110px, 100%);
    @include color($darker_color, $light_color);
    @include boxspace(border-box, 20px);
    @include fixed(0, 0);
    position: fixed;
    border-right: 1px solid $dark_color;
    box-shadow: 5px 0 10px $dark_color;

    #logo{&:hover{cursor: pointer;}}
    ul {@include ul(none, left, 0);}
    a {@include a(none, $light_color);}
}

#img-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;

    &:hover .replacement {opacity: 1;}
}

#logo-container {
    position: relative;
    width: 10px;
    height: 55px;

    &:hover .replacement {opacity: 1;}
}

.replacement {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

section {
    @include maxsize(70%, auto, 800px);
    @include align(center, center);
    box-sizing: border-box;
    margin: 0 auto;

    #result {text-align: center;}
    .textContainer {margin-left: 10px;}
    .album-cover {@include size(150px, 150px);}
    .center {text-align: center;}

    .line {
        width: 100%;
        border: 1px solid $linecolor;
        margin: 5em 0em 5em 0em;
    }

    .material-symbols-outlined {
        &:hover {@include hovereffect(scale(1.4), 0.2s, pointer);}
    }

    #search-area {
        @include align(center, center);
        text-align: center;
        display: flex;
    }

    .songResult {
        @include size(100%, auto);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.2px solid $linecolor;
        text-align: left;

        &:nth-child(even) {background-color: $darker_color;}
    }

    .icon-container {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-top: -1em;

        .lyrics {&:hover {@include hovereffect(scale(1.2), 0.2s, pointer);}}
    }
}

.search-icon {
    fill: $light_color;
    margin-left: 7px;

    &:hover {@include hovereffect(scale(1.4), 0.2s, pointer);}
}

input {
    @include maxsize(400px, 50px, 95%);
    @include btn-text(25px, 900, 1px);
    @include text(center, 100% $font-stack);
    @include color($light_color, $light_color);
    border-radius: 5em;
    box-sizing: border-box;
    border: $primary-color 1px solid;

    &:focus {
        @include btn-text(16px, 300, 1px);
        @include color($light_color, $primary-color);
        outline: 2px $primary-color;
        filter: brightness(90%);
    }

    &::placeholder {
        @include btn-text(25px, 300, 1px);
        color: $light_color;
    }

    &:active {
        background-color: $light_color;
        filter: brightness(75%);
    }

    &:hover {
        transition: 1s;
        filter: brightness(75%);
    }
}


@media only screen and (max-width: 798px) {
    header {bottom: 0;}

    section {width: 100%;

        .songResult {width: 100%;
            img {margin-bottom: -7px;}
        }

        #search-area {display: block !important;
            svg {margin-top: 1em;}
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
        margin-left: 0;

        header {
            position: static;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 25px 0px 3px 0px;
            border-bottom: 1px solid $darker_color;
            box-shadow: 0 5px 10px $dark_color;
            margin-bottom: 5em;
        }

        li {display: inline;}
        ul {text-align: center;}

        #logo-container {
            @include size(100%, auto);
            position: static;
        }
    }

    section {
        margin: 0 auto;
        width: 100%;

        #result {text-align: center;}
        .line {display: none;}
        .album-cover {@include size(100px !important, 100px !important);}

        #search-area {
            display: block;
            margin-bottom: 5em !important;

            input {border-radius: 8px !important;}
        }

        .songResult {
            padding: 0.5em 1.5em 1.5em 1.5em;
            display: block !important;
            width: 100% !important;
        }

        #img-container {
            @include size(70%, auto);
            .original {width: 100%;}
        }
    }
    .replacement {display: none;}
}