@use 'base' as *;

body {
    @include textlayout(left, 100% $font-stack);
    @include color($primary-color, $light_color);
    @include boxspace(border-box, 3em);
    margin-left: 110px;
    gap: 20em;

    h1 {text-align: center;}
    p {@include textlayout(left, 100% $light_color);}

    h2 {
        font-size: 20px;
        text-align: center;
    }
}

header {
    @include size(110px, 100%);
    @include color($darker_color, $light_color);
    @include boxspace(border-box, 0);
    @include fixed(0, 0);
    position: fixed;
    border-right: 1px solid $dark_color;
    box-shadow: 5px 0 10px $dark_color;

    #logo:hover{cursor: pointer;}
    ul {@include ul(none, left, 0);}
    a {@include a(none, $light_color);}

    li {margin: 1em 0em 2em 1em;

        &:hover {
            cursor: pointer;
            border-bottom: 5px solid $light_color;
            transition: 0.2s;
        }
    }

    #logo-container {
        @include size(10px, 55px);
        position: relative;
        padding: 25px;
        &:hover .replacement {opacity: 1;}
    }

    #position {
        background-color: $darker_color;
        padding: 0.5em 0em 0.5em 0em;
        background-image: linear-gradient(to left, 
        rgb(99, 99, 99),
        rgba(0, 0, 0, 0) 100%);
        border-bottom: 5px solid $light_color;
    }
}

.replacement {
    @include fixed(0, 0);
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

section {
    @include maxsize(70%, auto, 800px);
    @include align(center, center);
    box-sizing: border-box;
    margin: 0 auto;
    text-align:center; 

    #result {text-align: center;}
    .textContainer {margin-left: 10px;}
    .album-cover {@include size(150px, 150px);}
    .center {text-align: center;}
    .flexbox {display: flex;}
    #play-container {text-align: center;}
    .play-container>.material-symbols-outlined{font-size: 100px;}

    .line {
        @include marginwidth(100%, 2.5em 0em 6em 0em);
        border: 1px solid $linecolor;
    }

    .material-symbols-outlined:hover {
        @include hovereffect(scale(1.4), 0.2s, pointer);
        color: $happycolor;
    }

    #search-area {
        @include align(center, center);
        text-align: center;
        display: flex;
    }

    .original {
        @include fixed(0, 0);
        position: absolute;
    }

    #img-container {
        @include size(350px, 350px);
        position: relative;
        margin: 0 auto;
        &:hover .replacement {opacity: 1;}
    }

    .songResult {
        @include size(100%, auto);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.2px solid $linecolor;
        text-align: left;
        &:nth-child(even) {background-color: $darker_color;}
    }

    .icon-container {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-top: -1em;
        .lyrics {&:hover {@include hovereffect(scale(1.2), 0.2s, pointer);}}
    }

    .play-container {
        background-color: $dark_color;
        padding: 2em;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px
    }

    #btn-container {
        display: inline-block;
        background-color: $dark_color;
        &:hover {  
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transition: 0.2s;}
    }

    #generate-btn {
        @include color($primary-color, $light_color);
        @include boxspace(border-box, 1em);
        height: auto;
        font: 100% $paragraph-text;
        font-weight: 900;
        border: 1px solid $dark_color;
        outline: none;
    }

    #generate-btn:hover {
        @include smoothhover(0.2s, pointer);
        background-color: $dark_color;
        border: 1px solid $dark_color;
        color: $light_color;
    }

    #logo-btn {
        padding: 1em;
        box-sizing: border-box;
    }
    
    .search-icon {
        fill: $light_color;
        margin-left: 7px;
        &:hover {@include hovereffect(scale(1.4), 0.2s, pointer);}
    }

    .lyrics-container {
        background-color: $darker_color;
        border-radius: 2em;
        padding: 2em 4em 2em 4em;
    }

    ::selection {
        background: $happycolor;
        color: $primary-color;
      }

      #start-page-logo {
        width: 400px;
    }
}

input {
    @include maxsize(400px, 50px, 95%);
    @include textsize(25px, 900, 1px);
    @include textlayout(center, 100% $font-stack);
    @include color($light_color, $light_color);
    border-radius: 5em;
    box-sizing: border-box;
    border: $primary-color 1px solid;

    &:focus {
        @include textsize(16px, 300, 1px);
        @include color($light_color, $primary-color);
        outline: 2px $primary-color;
        filter: brightness(90%);
    }

    &::placeholder {
        @include textsize(25px, 300, 1px);
        color: $light_color;
    }

    &:active {
        background-color: $light_color;
        filter: brightness(75%);
    }

    &:hover {
        transition: 1s;
        filter: brightness(75%);
    }
}

@media only screen and (max-width: 798px) {
    header {bottom: 0;}
    section {width: 100%;

        .songResult {width: 100%;
        img {margin-bottom: -7px;}}

        #search-area {display: block !important;
        svg {margin-top: 1em;}}
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
        margin-left: 0;

        header {
            @include marginwidth(100%, 0 auto);
            position: static;
            text-align: center;
            padding: 25px 0px 3px 0px;
            border-bottom: 1px solid $darker_color;
            box-shadow: 0 5px 10px $dark_color;
            margin-bottom: 5em;

            br {display: none;}
        }

        li {display: inline;border-bottom: 0;}
        ul {text-align: center;}

        #logo-container {
            @include size(100%, auto);
            position: static;
            padding: 5px;
        }

        #position {
            padding: 0.5em 0.3em 0.5em 0em;
            border-bottom: 3px solid $light_color;
            background-image: linear-gradient(to bottom, 
            rgba(0, 0, 0, 0), 
            rgb(88, 88, 88) 100%);
        }
    }

    section {
        @include marginwidth(100%, 0 auto);

        #result {text-align: center;}
        .line {display: none;}
        .album-cover {@include size(100px !important, 100px !important);}
        #img-container {@include size(70%, auto);}
        .play-container>.material-symbols-outlined{font-size: 75px!important;}
        .replacement {display: none;}
        #generate-btn {width: 95%;}

        #search-area {
            display: block;
            margin-bottom: 5em !important;
            input {border-radius: 8px !important;}
        }

        .songResult {
            padding: 0.5em 1.5em 1.5em 1.5em;
            display: block !important;
            width: 100% !important;
        }

        .original {
            width: 100%;
            position: static;
        }

        #start-page-logo {
            width: 50%;
            margin-top: 90px;
        }

        .play-container {
            border-radius: 0!important;
            margin: 3.5em 1em 0em 1em;
            box-shadow: $dark_color 0 8px 15px;
        }

        .lyrics-container {
            border-radius: 0;
            padding: 1em 1.5em 1em 1.5em;
        }
    }
}